body {
  background-color: lightgrey;
}


#header {
  background-color: #30353C;
  height: 12em;
  width: 100%;
}

#header p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: lightgrey;
  text-transform: uppercase;
  text-decoration: overline;
  font-size: 4em;
  letter-spacing: 0.2em;
  margin:auto;
  text-align: center;
  position: relative;
  top: 0.95em;
}

#header a {
  color: lightgrey;
}

#header a:hover {
  color: #F7BE3C;
}


.navbar {
  height: 6em;
  width: 100%;
  background-color: #E6E6E6;
  box-shadow: 0px 10px 10px #B8B8B8;
}

.navbar p {
/*  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  color: #6C6C6C;
  letter-spacing: 0.1em;
  display: inline;
  margin: 3em;
  position: relative;
  top: 0.75em;
  left: 8.5em;
  text-transform: uppercase;
  text-decoration: none; */
    font-family: 'Open Sans Condensed', sans-serif;
  color: lightgrey;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 0.1em;
  display: inline;
  margin-left:13%;
  position: relative;
  top: 0.95em;
}

a {
  text-decoration: none;
  color:#6C6C6C;
}

a:hover {
  color: #EDC745;
}

#feed a:hover {
    color: #00aced;
}

#store a:hover {
  color:#B128E6;
}

#wiki a:hover {
  color:#27C5A2;
}

#forum a:hover {
  color:#FF0066;
}

#about a:hover {
  color: #EDC745;
}

.twitter-timeline {
  position: relative;
}
span {
     color:#FF0066;
    background-color: #27C5A2;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 0.1em;
  display: inline;
  margin-left:13%;
  position: relative;
  top: 0.95em;
}
h1{
   color:#FF0066;  
}